<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header.html :: fragment-header"></div>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/sidebar.html :: fragment-sidebar">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- TopBar -->
            <nav th:replace="~{fragments/topbar.html :: fragment-topbar}">
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h1 class="h3 mb-3 text-gray-800">BOM 관리</h1>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-3" style="overflow:auto; overflow-x: hidden; height: 80vh">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-2">BOM</th>
                                    <th class="col-1">
                                        <button type="button" onclick="clickCreateBomButton()"
                                                class="btn btn-primary btn-sm"><i class="fas fa-plus"></i>
                                        </button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="bomTable">
                                <tr th:each="bom : ${bomList}">
                                    <td th:text="${bom}" onclick="clickBomCode(this)">
                                    </td>
                                    <td>
                                        <button type="button" onclick="clickBomDeleteButton(this)"
                                                class="btn btn-danger btn-sm"><i
                                                class="far fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            let companyList = /*[[ ${companyList} ]]*/;
                            /*]]*/
                        </script>

                        <script>
                            let bomCode;
                            let partCode;
                            let bomPartList;

                            function clickCreateBomButton() {
                                if (checkPassword()) {
                                    const tbody = document.getElementById('bomTable');
                                    let tr = document.createElement("tr");
                                    let td1 = document.createElement("td");
                                    td1.innerHTML = `<input name="bomBwCode" type="text" class="form-control">`;
                                    let td2 = document.createElement("td");
                                    td2.innerHTML = `<button type="button" class="btn btn-success btn-sm" onclick="createBom(this)"><i class="fas fa-check"></i></button>`;
                                    tr.append(td1, td2);
                                    tbody.insertBefore(tr, tbody.firstChild);
                                }
                            }

                            function createBom(button) {
                                let tr = button.parentNode.parentNode;
                                let tdList = tr.children;
                                let bomBwCode;
                                for (let i = 0; i < tdList.length - 1; i++) {
                                    let td = tdList[i];
                                    let input = td.firstChild;
                                    if (input != null) {
                                        bomBwCode = input.value.toUpperCase();
                                    }
                                }

                                const url = "/api/manage/bom/" + bomBwCode;
                                fetch(url, {
                                    method: "POST"
                                }).then(
                                    response => {
                                        if (response.status == 200) {
                                            window.location.href = '/manage/part/bom';
                                        } else {
                                            alert("BOM 코드를 재확인하세요")
                                        }
                                    });

                            }

                            function clickBomDeleteButton(element) {
                                if (checkPassword()) {
                                    let tr = element.parentNode.parentNode;
                                    let bomBwCode = tr.children[0].innerText + "";

                                    const url = "/api/manage/bom/" + bomBwCode;
                                    fetch(url, {
                                        method: "DELETE"
                                    }).then(
                                        response => {
                                            if (response.status == 200) {
                                                window.location.href = '/manage/part/bom';
                                            } else {
                                                alert("BOM 자재를 먼저 삭제하세요")
                                            }
                                        });
                                }
                            }


                            // BOM PART 생성
                            function clickBomCode(td) {
                                bomCode = td.innerText + "";
                                const url = `/api/manage/bom/` + bomCode;
                                fetch(url).then(response => {
                                    if (response.status == 200) {
                                        response.json().then(data => {
                                            bomPartList = data
                                            createBomPartTable();
                                        });
                                    }
                                });
                            }

                            function createBomPartTable() {
                                const tbody = document.getElementById('partTable');
                                removeChildNode(tbody);
                                for (let i = 0; i < bomPartList.length; i++) {
                                    let bomPart = bomPartList[i]
                                    let companyName = companyList.find(findCompanyName).companyName;

                                    function findCompanyName(element) {
                                        return bomPart.companyCode === element.companyCode;
                                    }

                                    let tr = document.createElement("tr");
                                    tr.innerHTML = `<td>` + companyName + `</td>`
                                        + `<td>` + bomPart.bwCode + `</td>`
                                        + `<td>` + bomPart.amount + `</td>`
                                        + `<td><button type="button" onclick="clickBomPartDeleteButton(this)" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button></td>`
                                    tbody.append(tr);
                                }
                            }


                            function clickBomPartDeleteButton(button) {
                                if (checkPassword()) {
                                    let tr = button.parentNode.parentNode;
                                    let partBwCode = tr.children[1].innerText;
                                    const url = "/api/manage/bom/" + bomCode + "/" + partBwCode;
                                    fetch(url, {
                                        method: "DELETE"
                                    }).then(
                                        response => {
                                            if (response.status == 200) {
                                                removeAllNode(tr);
                                            }
                                        });
                                }
                            }


                            function clickBomPartCreateButton() {
                                if (bomCode != null) {
                                    const tbody = document.getElementById('partTable');
                                    let tr = document.createElement("tr");
                                    let td1 = document.createElement("td");
                                    let td2 = document.createElement("td");
                                    td2.innerHTML = `<input name="partBwCode" type="text" class="form-control">`;
                                    let td3 = document.createElement("td");
                                    td3.innerHTML = `<input name="usage" type="text" class="form-control">`;
                                    let td4 = document.createElement("td");
                                    td4.innerHTML = `<button type="button" class="btn btn-success btn-sm" onclick="createBomPart(this)"><i class="fas fa-check"></i></button>`;
                                    tr.append(td1, td2, td3, td4);
                                    tbody.insertBefore(tr, tbody.firstChild);
                                }
                            }

                            function createBomPart(button) {
                                let createBom = {bomBwCode: bomCode};
                                let tr = button.parentNode.parentNode;
                                let tdList = tr.children;
                                for (let i = 0; i < tdList.length - 1; i++) {
                                    let td = tdList[i];
                                    let input = td.firstChild;
                                    if (input != null) {
                                        createBom[input.name] = input.value;
                                    }
                                }

                                const url = "/api/manage/bom";
                                fetch(url, {
                                    headers: {
                                        "Content-Type": "application/json",
                                    },
                                    method: "POST",
                                    body: JSON.stringify(createBom)
                                }).then(
                                    response => {
                                        if (response.status == 200) {
                                            const url = `/api/manage/bom/` + bomCode;
                                            fetch(url).then(response => {
                                                if (response.status == 200) {
                                                    response.json().then(data => {
                                                        bomPartList = data
                                                        createBomPartTable();
                                                    });
                                                }
                                            });
                                        } else {
                                            alert("부품 코드를 재확인 하세요")
                                        }
                                    }
                                );
                            }
                        </script>
                        <div class="col">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-2">회사</th>
                                    <th class="col-2">보그워너 품번</th>
                                    <th class="col-1">USAGE</th>
                                    <th class="col-1">
                                        <button type="button" class="btn btn-primary btn-sm"
                                                onclick="clickBomPartCreateButton()"><i class="fas fa-plus"></i>
                                        </button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="partTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>

</html>