<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header.html :: fragment-header"></div>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/sidebar.html :: fragment-sidebar">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- TopBar -->
            <nav th:replace="fragments/topbar.html :: fragment-topbar">
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">재고 내역</h1>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-2">
                        <select class="custom-select" id="companySelect">
                            <option selected value="">전체</option>
                            <option th:each="company : ${companyList}"
                                    th:value="${company.companyCode}"
                                    th:text="${company.companyName}"></option>
                        </select>
                    </div>
                    <div class="col-2 input-group">
                        <input type="text" class="form-control" id="yearMonth" placeholder="YYYYMM">
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-primary btn-sm" onclick="clickLogButton()"><i class="fas fa-search"></i></button>
                    </div>
                </div>

                <script>
                    function clickLogButton() {
                        let companyCode = document.getElementById("companySelect").value;
                        let yearMonth = document.getElementById("yearMonth").value;
                        if(companyCode != "" & yearMonth != ""){
                            console.log("ㄱㄱ")
                        } else {
                            alert("다시 선택하세요");
                        }
                    }
                </script>

<!--                <div class="row">-->
<!--                    <table class="table table-striped">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th scope="row"></th>-->
<!--                            <th scope="row"></th>-->
<!--                            <th scope="row"></th>-->
<!--                            <th scope="row"></th>-->
<!--                            <th scope="row"></th>-->
<!--                            <th scope="row"></th>-->

<!--                            <td colspan="2">Larry the Bird</td>-->
<!--                            <td>@twitter</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="col">NO</th>-->
<!--                            <th class="col" name="bwCode">부품</th>-->
<!--                            <th class="col" name="incomeBox">BOX</th>-->
<!--                            <th class="col" name="incomeQuantity">수량</th>-->
<!--                            <th class="col" name="">공급자 코드</th>-->
<!--                            <th class="col">발주 번호</th>-->
<!--                            <th class="col">수량</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr>-->

<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/footer.html :: fragment-footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>

</html>