<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header.html :: fragment-header"></div>
    <!-- SheetJS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <!-- FileSaver saveAs CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/sidebar.html :: fragment-sidebar">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- TopBar -->
            <nav th:replace="fragments/topbar.html :: fragment-topbar">
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">재고 내역</h1>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-2">
                        <select class="custom-select" id="companySelect">
                            <option selected value="">전체</option>
                            <option th:each="company : ${companyList}"
                                    th:value="${company.companyCode}"
                                    th:text="${company.companyName}"></option>
                        </select>
                    </div>
                    <div class="col-2 input-group">
                        <input type="text" class="form-control" id="dateInput" placeholder="YYYYMMDD">
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary btn-sm" onclick="clickLogButton()"><i
                                class="fas fa-search"></i></button>
                        <button type="button" class="btn btn-success btn-sm" onclick="clickExcelButton()"><i
                                class="far fa-file-excel"></i>
                        </button>
                        <button type="button" class="btn btn-success btn-sm" onclick="clickOutgoingLogButton()">
                            출고 내역
                        </button>
                    </div>
                </div>

                <script>

                    let companyCode;
                    let date;
                    let outcomeLog

                    window.onload = function () {
                        let today = new Date();
                        let year = today.getFullYear();
                        let month = today.getMonth() + 1;
                        let day = today.getDate()
                        let dateStr = "" + year + (month < 10 ? "0" + month : month) + (day < 10 ? "0" + day : day);
                        document.getElementById("dateInput").value = dateStr;
                    }

                    function clickLogButton() {
                        companyCode = document.getElementById("companySelect").value;
                        date = document.getElementById("dateInput").value;
                        if (companyCode != "" & date != "") {
                            const url = `/api/task/part-log/` + companyCode + `/` + date;
                            fetch(url).then(response => {
                                if (response.status == 200) {
                                    response.json().then(data => {
                                        createTable(data);
                                    });
                                }
                            });
                        } else {
                            alert("공장과 날짜를 입력해주세요");
                        }
                    }

                    function createTable(data) {
                        let tbody = document.getElementById("partLogTbody");
                        removeChildNode(tbody);
                        for (let i = 0; i < data.length; i++) {
                            let tr = document.createElement("tr");
                            let temp = data[i];

                            let td1 = document.createElement("td");
                            td1.innerText = temp.partBwCode;
                            let td2 = document.createElement("td");
                            td2.innerText = temp.spCode;

                            tr.append(td1, td2);

                            createIncomeAndModifyRow(tr, temp.incomeLog);
                            createIncomeAndModifyRow(tr, temp.modifyLog);
                            createOutComeRow(tr, temp.outcomeLog1);
                            createOutComeRow(tr, temp.outcomeLog2);
                            createDefectiveRow(tr, temp.defectiveLog);
                            tbody.append(tr);
                        }

                    }

                    function createIncomeAndModifyRow(tr, data) {
                        for (let i = 0; i < 5; i++) {
                            let td = document.createElement("td");
                            let find = data.find(log => log.orderSeq == i);
                            if (find != undefined) {
                                td.innerText = find.quantity;
                            } else {
                                td.innerText = "0";
                            }
                            tr.append(td);
                        }
                    }

                    function createOutComeRow(tr, data) {
                        for (let i = 1; i < 21; i++) {
                            let td = document.createElement("td");
                            let find = data.find(log => log.orderSeq == i);
                            if (find != undefined) {
                                td.innerText = find.quantity;
                            } else {
                                td.innerText = "0";
                            }
                            tr.append(td)
                        }
                    }

                    function createDefectiveRow(tr, data) {
                        let td = document.createElement("td");
                        td.innerText = data;
                        tr.append(td)
                    }

                    function clickExcelButton() {
                        let wb = XLSX.utils.table_to_book(document.getElementById('partLogTable'), {
                            sheet: date,
                            raw: true
                        });
                        XLSX.writeFile(wb, (`${companyCode}-${date}.xlsx`));
                    }

                    function clickOutgoingLogButton() {
                        companyCode = document.getElementById("companySelect").value;
                        date = document.getElementById("dateInput").value;
                        if (companyCode != "" & date != "") {
                            const url = `/api/task/part-log/outgoing/` + companyCode + `/` + date;
                            fetch(url).then(response => {
                                if (response.status == 200) {
                                    response.json().then(data => {
                                        outcomeLog = data;
                                        createOutcomeLogTable();
                                    });
                                }
                            });
                        } else {
                            alert("공장과 날짜를 입력해주세요");
                        }
                    }

                    function createOutcomeLogTable() {
                        const tbody = document.getElementById('outcomeLogTbody');
                        removeChildNode(tbody)
                        for (let i = 0; i < outcomeLog.length; i++) {
                            let tr = document.createElement("tr");
                            tr.innerHTML = `<td>` + outcomeLog[i].date + `</td>`
                                + `<td>` + outcomeLog[i].companyName + `</td>`
                                + `<td>` + outcomeLog[i].plantName + `</td>`
                                + `<td>` + outcomeLog[i].orderSeq + `</td>`
                                + `<td>` + outcomeLog[i].bwCode + `</td>`
                                + `<td>` + outcomeLog[i].spCode + `</td>`
                                + `<td>` + outcomeLog[i].lot + `</td>`
                                + `<td>` + outcomeLog[i].quantity + `</td>`;
                            tbody.append(tr);
                        }

                        let wb = XLSX.utils.table_to_book(document.getElementById('outcomeLogTable'), {
                            sheet: date,
                            raw: true
                        });
                        XLSX.writeFile(wb, (`${companyCode}-${date}-출고.xlsx`));

                    }

                </script>

                <div class="row" style="overflow: auto">
                    <table class="table table-bordered text-center" id="partLogTable">
                        <thead>
                        <tr>
                            <th colspan="2"></th>
                            <th colspan="5" class="table-info">입고</th>
                            <th colspan="5" class="table-warning">보정</th>
                            <th colspan="20" class="table-success">1공장</th>
                            <th colspan="20" class="table-success">2공장(신공장)</th>
                            <th colspan="1" class="table-danger" style="white-space: nowrap">불량</th>
                        </tr>
                        <tr>
                            <th style="white-space: nowrap">보그워너 품번</th>
                            <th style="white-space: nowrap">공급업체 품번</th>
                            <!-- 입고 -->
                            <th class="table-info" style="white-space: nowrap">용차</th>
                            <th class="table-info">1</th>
                            <th class="table-info">2</th>
                            <th class="table-info">3</th>
                            <th class="table-info">4</th>
                            <!-- 보정 -->
                            <th class="table-warning" style="white-space: nowrap">용차</th>
                            <th class="table-warning">1</th>
                            <th class="table-warning">2</th>
                            <th class="table-warning">3</th>
                            <th class="table-warning">4</th>
                            <!-- 1공장 -->
                            <th class="table-success">1</th>
                            <th class="table-success">2</th>
                            <th class="table-success">3</th>
                            <th class="table-success">4</th>
                            <th class="table-success">5</th>
                            <th class="table-success">6</th>
                            <th class="table-success">7</th>
                            <th class="table-success">8</th>
                            <th class="table-success">9</th>
                            <th class="table-success">10</th>
                            <th class="table-success">11</th>
                            <th class="table-success">12</th>
                            <th class="table-success">13</th>
                            <th class="table-success">14</th>
                            <th class="table-success">15</th>
                            <th class="table-success">16</th>
                            <th class="table-success">17</th>
                            <th class="table-success">18</th>
                            <th class="table-success">19</th>
                            <th class="table-success">20</th>
                            <!-- 2공장 -->
                            <th class="table-success">1</th>
                            <th class="table-success">2</th>
                            <th class="table-success">3</th>
                            <th class="table-success">4</th>
                            <th class="table-success">5</th>
                            <th class="table-success">6</th>
                            <th class="table-success">7</th>
                            <th class="table-success">8</th>
                            <th class="table-success">9</th>
                            <th class="table-success">10</th>
                            <th class="table-success">11</th>
                            <th class="table-success">12</th>
                            <th class="table-success">13</th>
                            <th class="table-success">14</th>
                            <th class="table-success">15</th>
                            <th class="table-success">16</th>
                            <th class="table-success">17</th>
                            <th class="table-success">18</th>
                            <th class="table-success">19</th>
                            <th class="table-success">20</th>
                            <!-- 불량 -->
                            <th class="table-danger"></th>
                        </tr>
                        </thead>
                        <tbody id="partLogTbody">
                        </tbody>
                    </table>
                </div>

                <div>
                    <div class="row" style="visibility: hidden">
                        <table class="table table-bordered text-center" id="outcomeLogTable">
                            <thead>
                            <tr>
                                <th>날짜</th>
                                <th>회사이름</th>
                                <th>공장</th>
                                <th>회차</th>
                                <th>보그워너 품번</th>
                                <th>납품업체 품번</th>
                                <th>로트</th>
                                <th>수량</th>
                            </tr>
                            </thead>
                            <tbody id="outcomeLogTbody">
                            </tbody>
                        </table>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</body>

</html>