<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header.html :: fragment-header"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/sidebar.html :: fragment-sidebar">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- TopBar -->
            <nav th:replace="fragments/topbar.html :: fragment-topbar">
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">재고 현황</h1>
                </div>

                <div class="row justify-content-center mb-4">
                    <div class="col-2">
                        <select class="custom-select" onchange="setCompanyCode(this.value)">
                            <option selected value="">전체</option>
                            <option th:each="company : ${companyList}"
                                    th:value="${company.companyCode}"
                                    th:text="${company.companyName}"></option>
                        </select>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-primary btn-sm" onclick="findPartByCompanyCode()"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="row col-9">
                        <div class="col" style="overflow:auto; overflow-x: hidden; height: 70vh">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-1">회사</th>
                                    <th class="col-2">보그워너 품번</th>
                                    <th class="col-2">공급업체 품번</th>
                                    <th class="col-1">수량</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="partStock : ${partStockList}" onclick="clickPartRow(this)">
                                    <td th:text="${partStock.companyName}"></td>
                                    <td th:text="${partStock.bwCode}"></td>
                                    <td th:text="${partStock.spCode}"></td>
                                    <td th:text="${partStock.stock}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-4">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-1">로트</th>
                                    <th class="col-1">수량</th>
                                    <th class="col-1">적입량</th>
                                    <th class="col-1"></th>
                                </tr>
                                </thead>
                                <tbody id="inventory-table">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- Footer -->
        <footer th:replace="fragments/footer.html :: fragment-footer">
        </footer>

    </div>
    <!-- End of Main Content -->


    <!-- End of Footer -->
</div>
<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<script>
    let companyCode;

    function setCompanyCode(value) {
        companyCode = value;
    }

    function findPartByCompanyCode() {
        if (companyCode == undefined) {
            document.location.href = "/task/part/stock";
        } else {
            document.location.href = "/task/part/stock/" + companyCode;
        }
    }

    let partBwCode;
    let inventory;

    function clickPartRow(tr) {
        partBwCode = tr.childNodes[3].innerText;
        const url = `/api/task/part-stock/inventory/` + partBwCode;
        fetch(url).then(response => {
            if (response.status == 200) {
                response.json().then(data => {
                    inventory = data;
                    createInventoryTable();
                });
            }
        });
    }

    function createInventoryTable() {
        let tbody = document.getElementById("inventory-table");
        removeChildNode(tbody);
        for (let i = 0; i < inventory.length; i++) {
            let temp = inventory[i];
            let tr = document.createElement("tr");
            tr.id = temp.partInventoryId;
            tr.innerHTML = `<td>` + temp.lot + `</td>`
                + `<td>` + temp.stock + `</td>`
                + `<td>` + temp.loadAmount + `</td>`
                + `<td>` + `<button type="button" class="btn btn-info btn-sm" onclick="clickModifyButton(this)"><i class="far fa-edit"></i></button>` + `</td>`
            tbody.append(tr);
        }
    }

    function clickModifyButton(element) {
        let tr = element.parentNode.parentNode;
        let tdList = tr.children;
        let lot = tdList[0].innerText;
        let quantity = tdList[1].innerText * 1;
        let loadAmount = tdList[2].innerText * 1;
        removeChildNode(tr);
        tr.innerHTML = `<td>` + `<input type="text" class="form-control" value="${lot}">` + `</td>`
            + `<td>` + quantity + `</td>`
            + `<td>` + `<input type="text" class="form-control" value="${loadAmount}">` + `</td>`
            + `<td>` + `<button type="button" class="btn btn-success btn-sm" onclick="modifyInventory(this)"><i class="fas fa-check"></i></button>` + `</td>`;
    }

    async function modifyInventory(element) {
        let tr = element.parentNode.parentNode;
        let id = tr.id;
        let tdList = tr.children;
        let lot = tdList[0].children[0].value;
        let quantity = tdList[1].innerText * 1;
        let loadAmount = tdList[2].children[0].value * 1;

        let url = "/api/task/part-stock/inventory/" + id;

        let response = await fetch(url,{
            headers: {
                "Content-Type": "application/json",
            },
            method: "PUT",
                body: JSON.stringify({
                    lot,
                    loadAmount
                })
        });
        if (response.status == 200) {
            removeChildNode(tr);
            tr.innerHTML = `<td>` + lot + `</td>`
                + `<td>` + quantity + `</td>`
                + `<td>` + loadAmount +`</td>`
                + `<td>` + `<button type="button" class="btn btn-info btn-sm" onclick="modifyInventory(this)"><i
                class="fas fa-edit"></i></button>` + `</td>`;
        }
    }
</script>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>

</html>