<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header.html :: fragment-header"></div>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/sidebar.html :: fragment-sidebar">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- TopBar -->
            <nav th:replace="fragments/topbar.html :: fragment-topbar">
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">고객사 선택품 납품</h1>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-1">
                        <select class="custom-select" id="companySelect">
                            <option selected value="">회사</option>
                            <option th:each="company : ${companyList}"
                                    th:value="${company.companyCode}"
                                    th:text="${company.companyName}"></option>
                        </select>
                    </div>
                    <div class="col-1">
                        <select class="custom-select" id="plantSelect">
                            <option selected value="">공장</option>
                            <option th:each="plant : ${plantList}"
                                    th:value="${plant.plantCode}"
                                    th:text="${plant.plantName}"></option>
                        </select>
                    </div>
                    <div class="col-1">
                        <div class="input-group">
                            <input type="text" class="form-control" id="dateInput" placeholder="YYYYMMDD">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="input-group">
                            <input type="text" class="form-control" id="orderInput" placeholder="차수">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="input-group">
                            <input type="text" class="form-control" id="timeInput" placeholder="HH:MM">
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="button" id="createButton" class="btn btn-primary" onclick="clickConfirmButton()">
                            확인
                        </button>
                    </div>
                </div>

                <div class="row" id="findInventoryTable">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-2">보그워너 코드</th>
                            <th class="col-2">공급업체 코드</th>
                            <th class="col-1">rop</th>
                            <th class="col-1">lotMin</th>
                            <th class="col-1">lotMax</th>
                            <th class="col-1">전산 재고</th>
                            <th class="col-1">적입량</th>
                            <th class="col-1">입고량</th>
                            <th class="col-1">
                                <button type="button" id="sendButton" class="btn btn-danger btn-sm" style="visibility:hidden;" onclick="clickEnrollButton()">등록</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="findInventoryTbody">
                        </tbody>
                    </table>

                </div>

                <div class="row justify-content-center mb-3" style="visibility: hidden;" id="submitTableRow">
                    <table class="table col-4">
                        <thead>
                        <tr>
                            <th class="col-2">보그워너 코드</th>
                            <th class="col-1">수량</th>
                            <th class="col-1">
                                <button type="button" id="submitButton" class="btn btn-danger btn-sm"
                                        onclick="clickSubmitButton()">등록
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="submitTbody">
                        </tbody>
                    </table>
                </div>

                <div class="row justify-content-center mb-3" style="visibility: hidden;" id="resultTableRow">
                    <table class="table col-6">
                        <thead>
                        <tr>
                            <th class="col-2">보그워너 코드</th>
                            <th class="col-1">로트</th>
                            <th class="col-1">적입량</th>
                            <th class="col-1">수량</th>
                            <th class="col-1">박스수</th>
                        </tr>
                        </thead>
                        <tbody id="resultTbody">
                        </tbody>
                    </table>
                </div>

                <script>
                    let orderInfo = {};
                    let partList = new Array();

                    window.onload = function () {
                        let today = new Date();
                        let year = today.getFullYear();
                        let month = today.getMonth() + 1;
                        let day = today.getDate()
                        let dateStr = "" + year + (month < 10 ? "0" + month : month) + (day < 10 ? "0" + day : day);
                        document.getElementById("dateInput").value = dateStr;
                    }

                    async function clickConfirmButton() {
                        orderInfo.companyCode = findElementValue("companySelect");
                        orderInfo.plantCode = findElementValue("plantSelect");
                        orderInfo.date = findElementValue("dateInput");
                        orderInfo.orderSeq = findElementValue("orderInput") * 1;
                        orderInfo.time = findElementValue("timeInput");


                        if (orderInfo.companyCode != "" && orderInfo.plantCode != "" && orderInfo.date.length == 8
                            && orderInfo.orderSeq != "" && orderInfo.time.length == 5) {
                            if (await checkOrderHistory(orderInfo)) {
                                disableElement("companySelect");
                                disableElement("plantSelect");
                                disableElement("dateInput");
                                disableElement("orderInput");
                                disableElement("timeInput");
                                disableElement("createButton");
                                visibleElement("sendButton");

                                const url = "/api/task/outgoing/inquire-select/"
                                    + orderInfo.companyCode
                                    + "/" + orderInfo.plantCode;
                                let response = await fetch(url);
                                if (response.status == 200) {
                                    let data = await response.json();
                                    createInventoryTable(data);
                                    console.log(data);
                                }
                            }
                        } else {
                            alert("입력을 확인해주세요")
                        }
                    }

                    function createInventoryTable(data) {
                        let tbody = document.getElementById("findInventoryTbody");
                        removeChildNode(tbody);

                        for (let i = 0; i < data.length; i++) {
                            let temp = data[i]
                            let tr = document.createElement("tr");
                            let calInputAmount = temp.lotMax - temp.stockQTY;
                            if (calInputAmount < 0) {
                                calInputAmount = 0;
                            }
                            tr.innerHTML = `<td>` + temp.partBwCode + `</td>`
                                + `<td>` + temp.spCode + `</td>`
                                + `<td>` + temp.rop + `</td>`
                                + `<td>` + temp.lotMin + `</td>`
                                + `<td>` + temp.lotMax + `</td>`
                                + `<td>` + temp.stockQTY + `</td>`
                                + `<td>` + temp.loadAmount + `</td>`
                                + `<td>` + `<div class="input-group"><input type="text" class="form-control" placeholder="수량" value="` + calInputAmount + `"></div>` + `</td>`
                                + `<td>` + `<button type="button" class="btn btn-success btn-sm" onclick="enrollPart(this)"><i class="fas fa-check"></i></button>` + `</td>`
                            tbody.append(tr);
                        }
                    }

                    function enrollPart(element) {
                        let tr = element.parentNode.parentNode;
                        let tdList = tr.childNodes;
                        let bwCode = tdList[0].innerText;
                        let amount = tdList[7].childNodes[0].childNodes[0].value * 1
                        if (amount > 0) {
                            partList.push({bwCode, amount});
                            tdList[7].childNodes[0].childNodes[0].disabled = true;
                            tdList[8].childNodes[0].disabled = true;
                        } else{
                            alert("수량을 다시 입력하세요");
                        }

                    }


                    function clickEnrollButton() {
                        let tableRow = document.getElementById("findInventoryTable")
                        removeAllNode(tableRow);

                        visibleElement("submitTableRow");

                        let tbody = document.getElementById("submitTbody");

                        for (let i = 0; i < partList.length; i++) {
                            let temp = partList[i];
                            let tr = document.createElement("tr");

                            tr.innerHTML = `<td>` + temp.bwCode + `</td>`
                                + `<td>` + temp.amount + `</td>`
                                + `<td>` + '' + `</td>`;
                            tbody.append(tr);
                        }

                    }

                    async function clickSubmitButton() {
                        orderInfo.partList = partList;
                        const url = "/api/task/outgoing/submit"
                        let response = await fetch(url, {
                            headers: {
                                "Content-Type": "application/json",
                            },
                            method: "POST",
                            body: JSON.stringify(orderInfo)
                        });

                        if (response.status == 200) {
                            let data = await response.json();
                            let tableRow = document.getElementById("submitTableRow")
                            removeAllNode(tableRow);
                            visibleElement("resultTableRow");
                            let tbody = document.getElementById("resultTbody");

                            for (let i = 0; i < data.length; i++) {
                                let temp = data[i];
                                let tr = document.createElement("tr");
                                tr.innerHTML = `<td>` + temp.bwCode + `</td>`
                                    + `<td>` + temp.lot + `</td>`
                                    + `<td>` + temp.loadAmount + `</td>`
                                    + `<td>` + temp.quantity + `</td>`
                                    + `<td>` + Math.ceil(temp.quantity/temp.loadAmount) + `</td>`;
                                tbody.append(tr);
                            }
                        }


                    }
                </script>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/footer.html :: fragment-footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>

</html>