<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header.html :: fragment-header"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/sidebar.html :: fragment-sidebar">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- TopBar -->
            <nav th:replace="fragments/topbar.html :: fragment-topbar">
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">재고 관리</h1>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-1 input-group">
                        <select class="custom-select" id="kindSelect">
                            <option selected value="income">입고</option>
                            <option value="modify">보정(차감)</option>
                            <option value="defective">불량</option>
                        </select>
                    </div>
                    <div class="col-1 input-group">
                        <select class="custom-select" id="orderSeq">
                            <option selected value="">차수</option>
                            <option value="1">1차</option>
                            <option value="2">2차</option>
                            <option value="3">3차</option>
                            <option value="4">4차</option>
                            <option value="0">용차</option>
                        </select>
                    </div>
                    <div class="col-1 input-group">
                        <input type="text" class="form-control" id="dateInput" placeholder="YYYYMMDD">
                    </div>
                    <div class="col-1">
                        <button type="button" id="dataInputButton" class="btn btn-primary btn-sm"
                                onclick="clickConfirmButton()">확인
                        </button>
                    </div>
                </div>

                <script>
                    let kind;
                    let date;
                    let orderSeq;
                    let checkPass = true;

                    window.onload = function () {
                        let today = new Date();
                        let year = today.getFullYear();
                        let month = today.getMonth() + 1;
                        let day = today.getDate()
                        let dateStr = "" + year + (month < 10 ? "0" + month : month) + (day < 10 ? "0" + day : day);
                        document.getElementById("dateInput").value = dateStr;
                    }

                    function clickConfirmButton() {
                        let kindElement = document.getElementById("kindSelect");
                        let dateElement = document.getElementById("dateInput");
                        let orderElement = document.getElementById("orderSeq");
                        kind = kindElement.value;
                        date = dateElement.value;
                        orderSeq = orderElement.value;
                        if (kind == "" || date == "" || orderSeq == "") {
                            alert("모두 입력해주세요")
                        } else {
                            let message;
                            if (kind == "modify") {
                                message = `구분 : 수정\n` + `차수 : ${orderSeq}차\n` + `날짜 : ${date}`;
                            } else if (kind == "income") {
                                message = `구분 : 입고\n` + `차수 : ${orderSeq}차\n` + `날짜 : ${date}`;
                            } else if (kind == "defective") {
                                message = `구분 : 불량`;
                            }
                            confirm(message);
                            disableElement(kindElement);
                            disableElement(orderElement);
                            disableElement(dateElement);
                            let target = document.getElementById('excelRow');
                            target.style.visibility = "visible";
                            target = document.getElementById('dataInputButton');
                            target.style.visibility = "hidden";
                        }
                    }

                    function disableElement(element) {
                        element.disabled = true;
                    }
                </script>

                <div id="excelRow" class="row justify-content-center mb-3" style="visibility: hidden">
                    <div class="col-2">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="excelInput" onchange="readExcel()">
                                <label class="custom-file-label" for="excelInput">파일 선택</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <button type="button" id="createButton" class="btn btn-primary" onclick="createExcelTable()">확인
                        </button>
                        <button type="button" id="checkButton" style="visibility: hidden" class="btn btn-success"
                                onclick="checkPart()">검사
                        </button>
                        <button type="button" id="submitButton" style="visibility: hidden" class="btn btn-success"
                                onclick="sendPartStock()">전송
                        </button>
                    </div>
                </div>

                <script>
                    let partCheck = new Array();

                    async function readExcel() {
                        let excelFile = event.target.files[0];
                        const reader = new FileReader();
                        reader.onload = () => {
                            const data = reader.result;
                            const workBook = XLSX.read(data, {type: 'binary'})
                            let rows = XLSX.utils.sheet_to_json(workBook.Sheets[workBook.SheetNames[0]]);
                            for (let i = 0; i < rows.length; i++) {
                                let temp = rows[i];
                                if (temp[Object.keys(temp)[0]] == '') {
                                    break;
                                }
                                let data = {
                                    companyName: "",
                                    spCode: "",
                                    poCode: "",
                                    name: "",
                                    check: "",
                                    bwCode: temp[Object.keys(temp)[0]],
                                    lot: temp[Object.keys(temp)[1]],
                                    quantity: temp[Object.keys(temp)[2]] * 1,
                                    loadAmount: temp[Object.keys(temp)[3]] * 1
                                };
                                for(let i = 0; i< partCheck.length; i++){
                                    let find = partCheck[i];
                                    if(find.bwCode == data.bwCode && find.lot == data.lot){
                                        data.check = 'A';
                                        break;
                                    }
                                }
                                partCheck.push(data);
                            }
                        }
                        reader.readAsBinaryString(excelFile);
                    }

                    function createExcelTable() {
                        const tbody = document.getElementById('partTable');
                        removeChildNode(tbody);
                        for (let i = 0; i < partCheck.length; i++) {
                            let tr = document.createElement("tr");
                            let temp = partCheck[i];
                            tr.innerHTML = `<td>` + temp.companyName + `</td>`
                                + `<td>` + temp.bwCode + `</td>`
                                + `<td>` + temp.spCode + `</td>`
                                + `<td>` + temp.name + `</td>`
                                + `<td>` + temp.lot + `</td>`
                                + `<td>` + temp.quantity + `</td>`
                                + `<td>` + temp.loadAmount + `</td>`
                                + `<td>` + temp.check + `</td>`;
                            if (temp.check == "N") {
                                tr.className = "table-danger";
                                checkPass = false;
                            } else if (temp.check == "Y") {
                                tr.className = "table-primary";
                            } else if (temp.check == "A"){
                                tr.className = "table-warning";
                            }
                            tbody.append(tr);
                        }
                        let target = document.getElementById('excelInput');
                        target.disabled = true;
                        target = document.getElementById('createButton');
                        target.disabled = true;
                        target = document.getElementById('checkButton');
                        target.style.visibility = "visible";
                    }

                    function checkPart() {
                        const url = "/api/task/part-manage/check";
                        fetch(url, {
                            headers: {
                                "Content-Type": "application/json",
                            },
                            method: "POST",
                            body: JSON.stringify(partCheck)
                        }).then(
                            response => {
                                if (response.status == 200) {
                                    response.json().then(data => {
                                        if (checkPass) {
                                            let target1 = document.getElementById("submitButton");
                                            target1.style.visibility = "visible";
                                        } else {
                                            alert("자재 파일을 수정해주세요");
                                        }
                                        partCheck = data;
                                        createExcelTable();
                                        let target2 = document.getElementById("checkButton");
                                        target2.disabled = true;
                                    });
                                }
                            }
                        );
                    }


                    function sendPartStock() {
                        let sendData = {
                            date,
                            orderSeq,
                            partCheck
                        }

                        const url = "/api/task/part-manage/" + kind;
                        fetch(url, {
                            headers: {
                                "Content-Type": "application/json",
                            },
                            method: "POST",
                            body: JSON.stringify(sendData)
                        }).then(
                            response => {
                                if (response.status == 200) {
                                    response.json().then(data => {
                                        createResultTable(data);
                                    });
                                }
                            }
                        );

                    }

                    function createResultTable(data) {
                        let target = document.getElementById('resultTableAll');
                        target.style.visibility = "visible";
                        target = document.getElementById('excelTableAll');
                        removeAllNode(target);

                        const tbody = document.getElementById('resultTable');
                        for (let i = 0; i < data.length; i++) {
                            let tr = document.createElement("tr");
                            let temp = data[i];
                            tr.innerHTML = `<td>` + temp.bwCode + `</td>`
                                + `<td>` + temp.lot + `</td>`
                                + `<td>` + temp.quantity + `</td>`
                                + `<td>` + temp.beforeStock + `</td>`
                                + `<td>` + temp.afterStock + `</td>`
                                + `<td>` + temp.check + `</td>`;
                            if (temp.check == "N") {
                                tr.className = "table-danger";
                            } else if (temp.check == "Y") {
                                tr.className = "table-success";
                            }
                            tbody.append(tr);
                        }

                        target = document.getElementById('submitButton');
                        target.style.visibility = "hidden";

                    }
                </script>

                <div class="row justify-content-center" id="excelTableAll">
                    <div class="col-9">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="col-2">회사</th>
                                <th class="col-2">보그워너 품번</th>
                                <th class="col-2">부품업체 품번</th>
                                <th class="col-2">이름</th>
                                <th class="col-1">로트</th>
                                <th class="col-1">수량</th>
                                <th class="col-1">적입량</th>
                                <th class="col-1"></th>
                            </tr>
                            </thead>
                            <tbody id="partTable">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" id="resultTableAll" style="visibility: hidden">
                <div class="col-7">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-2">보그워너 품번</th>
                            <th class="col-1">로트</th>
                            <th class="col-1">수량</th>
                            <th class="col-1">입고 전</th>
                            <th class="col-1">입고 후</th>
                            <th class="col-1"></th>
                        </tr>
                        </thead>
                        <tbody id="resultTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

</div>
<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>

</html>