<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header.html :: fragment-header"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/sidebar.html :: fragment-sidebar">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- TopBar -->
            <nav th:replace="fragments/topbar.html :: fragment-topbar">
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">수동 납품</h1>
                </div>

                <div class="row justify-content-center mb-4">
                    <div class="col-1">
                        <select class="custom-select" id="companySelect">
                            <option selected value="">회사</option>
                            <option th:each="company : ${companyList}"
                                    th:value="${company.companyCode}"
                                    th:text="${company.companyName}"></option>
                        </select>
                    </div>
                    <div class="col-1">
                        <select class="custom-select" id="plantSelect">
                            <option selected value="">공장</option>
                            <option th:each="plant : ${plantList}"
                                    th:value="${plant.plantCode}"
                                    th:text="${plant.plantName}"></option>
                        </select>
                    </div>
                    <div class="col-1">
                        <div class="input-group">
                            <input type="text" class="form-control" id="dateInput" placeholder="YYYYMMDD">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="input-group">
                            <input type="text" class="form-control" id="orderInput" placeholder="차수">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="input-group">
                            <input type="text" class="form-control" id="timeInput" placeholder="HH:MM">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="custom-file" id="excelButton">
                            <input type="file" class="custom-file-input" id="excelInput" onchange="readExcel()">
                            <label class="custom-file-label" for="excelInput">파일선택</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <button type="button" id="createButton" class="btn btn-primary" onclick="clickConfirmButton()">
                            확인
                        </button>
                        <button type="button" id="checkButton" class="btn btn-danger" style="visibility: hidden;"
                                onclick="clickCheckButton()">
                            체크
                        </button>
                        <button type="button" id="sendButton" class="btn btn-primary" style="visibility: hidden;"
                                onclick="clickSendButton()">
                            전송
                        </button>
                        <button type="button" id="reportButton" style="visibility: hidden;" class="btn btn-success"
                                onclick="openReport()">납품카드
                        </button>
                    </div>
                </div>

                <div class="row">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">품번</th>
                            <th scope="col">이름</th>
                            <th scope="col">발주번호</th>
                            <th scope="col">로트</th>
                            <th scope="col">적입량</th>
                            <th scope="col">납품량</th>
                            <th scope="col">박스수량</th>
                            <th scope="col">위치</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody id="excelTable">
                        </tbody>
                    </table>
                </div>

                <script>
                    let orderInfo = {};
                    let findData;
                    let partList = new Array();

                    let excelOrderInfo = {};
                    let excelMemory = new Array();

                    let check = true;

                    window.onload = function () {
                        let today = new Date();
                        let year = today.getFullYear();
                        let month = today.getMonth() + 1;
                        let day = today.getDate()
                        let dateStr = "" + year + (month < 10 ? "0" + month : month) + (day < 10 ? "0" + day : day);
                        document.getElementById("dateInput").value = dateStr;
                    }

                    async function clickConfirmButton() {
                        orderInfo.companyCode = findElementValue("companySelect");
                        orderInfo.plantCode = findElementValue("plantSelect");
                        orderInfo.date = findElementValue("dateInput");
                        orderInfo.orderSeq = findElementValue("orderInput") * 1;
                        orderInfo.time = findElementValue("timeInput");

                        if (orderInfo.companyCode != "" && orderInfo.plantCode != "" && orderInfo.date.length == 8
                            && orderInfo.orderSeq != "" && orderInfo.time.length == 5) {
                            if (await checkOrderHistory(orderInfo)) {
                                disableElement("companySelect");
                                disableElement("plantSelect");
                                disableElement("dateInput");
                                disableElement("orderInput");
                                disableElement("timeInput");
                                disableElement("createButton");
                                disableElement("excelInput");
                                createExcelTable();
                            }
                        } else {
                            alert("입력을 확인해주세요")
                        }
                    }

                    async function readExcel() {
                        let excelFile = event.target.files[0];
                        const reader = new FileReader();
                        reader.onload = () => {
                            const data = reader.result;
                            const workBook = XLSX.read(data, {type: 'binary'})
                            let rows = XLSX.utils.sheet_to_json(workBook.Sheets[workBook.SheetNames[0]]);
                            for (let i = 0; i < rows.length; i++) {
                                let temp = rows[i];
                                if (i == 0) {
                                    excelOrderInfo.companyCode = temp[Object.keys(temp)[0]] + "";
                                    excelOrderInfo.plantCode = temp[Object.keys(temp)[1]] + "";
                                    excelOrderInfo.date = temp[Object.keys(temp)[2]].replaceAll("-", "") + "";
                                    excelOrderInfo.orderSeq = temp[Object.keys(temp)[2]] * 1;
                                }
                                if (i >= 2) {
                                    if (temp[Object.keys(temp)[0]] == '') {
                                        break;
                                    }
                                    excelMemory.push({
                                        bwCode: temp[Object.keys(temp)[0]],
                                        partName: temp[Object.keys(temp)[1]],
                                        poCode: temp[Object.keys(temp)[2]] + "",
                                        lot: temp[Object.keys(temp)[3]],
                                        quantity: temp[Object.keys(temp)[4]] * 1,
                                        boxQuantity: temp[Object.keys(temp)[4]] / temp[Object.keys(temp)[5]],
                                        loadAmount: temp[Object.keys(temp)[5]] * 1,
                                        location: temp[Object.keys(temp)[6]],
                                        desc: ''
                                    });
                                }
                            }
                        }
                        await reader.readAsBinaryString(excelFile);
                    }

                    function createExcelTable() {
                        if (orderInfo.companyCode !== excelOrderInfo.companyCode ||
                            orderInfo.plantCode !== excelOrderInfo.plantCode ||
                            orderInfo.date !== excelOrderInfo.date) {
                            alert("입력 오류 입니다. 엑셀과 입력한 값을 다시 확인해보세요");
                            location.reload();
                        } else {
                            confirm(`회사코드 : ${orderInfo.companyCode}\n`
                                + `공장코드 : ${orderInfo.plantCode}\n`
                                + `납품시간 : ${orderInfo.time}\n`
                                + `납품날짜 : ${orderInfo.date}\n`);
                            createExcelTbody(excelMemory);

                            visibleElement('checkButton');
                        }
                    }

                    function createExcelTbody(data) {
                        const tbody = document.getElementById('excelTable');
                        removeChildNode(tbody);
                        for (let i = 0; i < data.length; i++) {
                            let tr = document.createElement("tr");
                            let html = `<td>` + data[i].bwCode + `</td>`
                                + `<td>` + data[i].partName + `</td>`
                                + `<td>` + data[i].poCode + `</td>`
                                + `<td>` + data[i].lot + `</td>`
                                + `<td>` + data[i].loadAmount + `</td>`
                                + `<td>` + data[i].quantity + `</td>`
                                + `<td>` + data[i].boxQuantity + `</td>`
                                + `<td>` + data[i].location + `</td>`
                                + `<td>` + data[i].desc + `</td>`
                            tr.innerHTML = html;
                            if (data[i].desc != '') {
                                if (data[i].desc == 'Y') {
                                    tr.className = "table-success";
                                } else {
                                    tr.className = "table-danger";
                                    check = false;
                                }
                            }
                            tbody.append(tr);
                        }
                    }

                    function reportRequest() {
                        const url = "/api/task/outgoing-manual/" + companyCode + "/" + date + "/" + plantCode;
                        fetch(url).then((response) => response.json())
                            .then((data) => {
                                reportUrl = `https://es-qms.borgwarner.com/qms/payment_card2.main?p_companycd=00&p_vendcd=${data[0]}&p_plant=${data[1]}&p_income_date=${data[2]}&p_sno=${data[3]}`
                            });
                    }

                    async function clickCheckButton() {
                        const url = "/api/task/outgoing/manual/check";
                        let body = orderInfo;
                        body.excelPartList = excelMemory;
                        let response = await fetch(url, {
                            headers: {
                                "Content-Type": "application/json",
                            },
                            method: "POST",
                            body: JSON.stringify(body)
                        });
                        if (response.status == 200) {
                            findData = await response.json();
                            createExcelTbody(findData);
                            disableElement("checkButton");
                            if(check){
                                visibleElement("sendButton");
                            }
                        }
                    }

                    async function clickSendButton() {
                        const url = "/api/task/outgoing/manual/submit";
                        let body = orderInfo;
                        body.excelPartList = excelMemory;
                        let response = await fetch(url, {
                            headers: {
                                "Content-Type": "application/json",
                            },
                            method: "POST",
                            body: JSON.stringify(body)
                        });
                        if (response.status == 200) {
                            visibleElement("reportButton");
                            disableElement("sendButton");
                        }
                    }

                    function openReport() {
                        window.open(`https://es-qms.borgwarner.com/qms/payment_card2.main?p_companycd=00&p_vendcd=${orderInfo.companyCode}&p_plant=${orderInfo.plantCode}&p_income_date=${orderInfo.date}&p_sno=${orderInfo.orderSeq}`)
                    }
                </script>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>

</html>